* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(/assets/colors-app.svg);

  overflow: hidden;
}

body * {
  font-family: 'Exo 2', sans-serif;
  line-height: 160%;
}

header {
  padding-top: 60px;
  height: calc(120px + 32px);
}

header div {
  width: 80px;
  margin: auto;

  display: flex;
  padding: 4px;

  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  color: white;

  padding-top: 4px;
}

section div {
  background: #f2f2f20b;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  text-decoration: none;

  border: solid #e4e4e458 2px;
  border-radius: 3px;
  padding: 32px;
  padding-top: 10px;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #b4b4bd;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-top: 24px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.docs-list img {
  border-radius: 10%;
  width: 93px;
  border: 2px solid;
  color: transparent;
  background-image: -webkit-linear-gradient(
    45deg,
    #4fcf70,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}

/* animation */

header div {
  animation: fromTop 0.7s 0.2s backwards;
}

main section {
  animation: fromBottom 0.7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.3s;
}

main section:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
