* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url(/assets/colors.svg);
  background-size: 400% 400%;
  background-attachment: fixed;
  overflow: hidden;
}

body * {
  font-family: 'Exo 2', sans-serif;
  line-height: 160%;
}

main {
  max-width: 580px;
  height: 80px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  color: white;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
  margin-top: 2rem;
  padding-top: 5px;
  border-radius: 10px;
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.47px;
}

section p {
  padding-top: 40px;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

.button {
  background: #4bb6d0;
  filter: drop-shadow(-8px -8px 40px #1c94af);

  width: fit-content;
  border: none;
  border-radius: 1rem;

  margin-bottom: 3rem;
  margin-top: 3rem;
  margin-left: 10rem;

  padding: 1rem 1rem;

  color: rgb(32, 32, 32);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

/* animation */

header div {
  animation: fromTop 0.7s 0.2s backwards;
}

main section {
  animation: fromBottom 0.7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: 0.3s;
}

main section:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.clock {
  background: #02afee36;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1.5px solid #ffffff92;
  border-radius: 50%;
  box-sizing: border-box;
  height: 280px;
  margin: 22rem auto;
  position: relative;
  width: 280px;
}

.twelve,
.three,
.six,
.nine {
  background: 10px;
  position: absolute;
}

.twelve,
.six {
  height: 10px;
  width: 4px;
}

.three,
.nine {
  height: 10px;
  width: 4px;
}

.twelve {
  left: 50%;
  top: -1px;
}

.six {
  left: 50%;
  bottom: -1px;
}

.nine {
  left: -1px;
  top: -50%;
}

.hour {
  height: 120px;
  width: 4px;
  background: rgba(222, 220, 220, 0.924);
  position: absolute;
  left: 50%;
  top: 20px;
  animation: tick 42300s infinate linear;
  -webkit-animation: tick 43200s infinate linear;
  animation: tick 60s infinate linear;
  -webkit-animation: tick 60s infinite linear;
}

.minute {
  height: 100px;
  width: 4px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 40px;
  animation: tick 3600s infinate linear;
  -webkit-animation: tick 3600s infinate linear;
}

.second {
  height: 60px;
  width: 4px;
  background: #fafafa;
  position: absolute;
  left: 50%;
  top: 80px;
}

.hour,
.minute,
.second {
  transform-origin: 2px 100%;
  -webkit-transform-origin: 2px 100%;
}

@keyframes tick {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tick {
  to {
    -webkit-transform: rotate(360deg);
  }
}
